#topbar
{
    background-color: black;
    height: 30px;
    width: 100%;
}
body
{background-color:white;}
#container
{
    background-color:white;
    height: 4500px;
width:100%; 
margin:0px auto;
}
#header
{
    height: 80px;
background-color: white;
}
#header img
{
    height: 80px; 
}
#header ul
{
    float: right;
    margin-top: 25px;
}
#header ul li
{
    display: inline;
    margin-right: 50px;
}
#header ul li a
{
    color: grey;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.shi
{
    text-align-last: center;
}
.sfg
{
    font-size: 18px;
}
#cox
{
    background-color: #232f3e;
    width: 100%;
    height:370px;
}
#cos
{
    background-color:#232f3e;
    float:left;
    width: 30%;
    height: 300px;
}
.sin
{
    color: #fff;
    font-size: 23px;
    margin-left: 100px;
    margin-top: 50px;
}
.sint
{
    margin-left: 130px;
    color: white;
    font-size: 17px;
}
#cost
{
    width: 30%;
    height: 300px;
    float: left;
    background-color:#232f3e ; 
    margin-left: 70px; 
}
.sine
{
    color: #fff;
    font-size: 23px;
    margin-left: 120px;
    margin-top: 50px;
}
.sinte
{
    margin-left: 145px;
    color: white;
    font-size: 17px;
}
#costo
{
    width: 30%;
    height: 300px;
    float: right;
    background-color:#232f3e;  
}
.sineo
{
    color: #fff;
    font-size: 23px;
    margin-left: 100px;
    margin-top: 50px;
}
.sintee
{
    margin-left: 100px;
    color: white;
    font-size: 17px; 
}
#chocko
{
    color: #fff;
    padding-top: 300px;
    margin-left: 580px;
    font-size: 20px;
}